body * {
    border: 3px solid red;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
}

#sidebar {
    grid-row: 1 / 3;
    
    /* display: flex;
    flex-direction: column;
    gap: 50px; */

    display: grid;
    grid-template-rows: 2fr 6fr 3fr;
    gap: 50px;
    padding-bottom: 150px;
}

#sidebar > div {
    display: grid;
}



#header {
    display: grid;
    grid-template: 1fr 1fr / 3fr 2fr;
}

#header > div {
    display: grid;
}



#content {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

#main-content {
    grid-row: 1 / 3;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}